@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

/* Nav */

.nav {
	background-color: #1f2937;
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: space-between;
	align-items: center;
	/* changed by nehemys */
	/* margin-right: 100px; - caused the navbar to not cover the entire horizontal top */
}

.nav a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-size: 1.2rem;
	margin-right: 10px;
	padding: 8px;
	background-color: #1f2937;
	color: #f9faf8;
	text-decoration: none;
}

.nav a#last {
	margin-right: 6.25rem;
}

.nav ul {
	list-style: none;
}

.nav h3 {
	/* changed by nehemy */
	margin-left: 6.25rem;
	padding: 8px;
	background-color: #1f2937;
	font-size: 24px;
	color: #f9faf8;
	text-decoration: none;
}

/* .nav h3 {
	left: 10rem;
} */

.nav ul {
	text-decoration: none;
	display: flex;
}

/* Section 1 */

.section-1 {
	background-color: #1f2937;
	display: flex;
	/* flex-wrap: wrap; changed on my end */
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.section-1 img {
	margin: 1rem 14rem;
	padding: 2rem 2rem;
	text-align: center;
	width: 10%;
	height: 10%;
	/* border: 1px solid #38334e; || remove later */
}

.section-1 .title {
	font-size: 48px;
	font-weight: bolder;
	color: #f9faf8;
	margin-right: 6.25rem;
	/* padding: 4rem; */
	padding: 1rem;
}

.section-1 p {
	padding-left: 1rem;
}

.section-1 .text {
	display: inline-block;
	/* border: 1px solid #38334e; || remove later */
	vertical-align: middle;
	color: #f9faf8;
	margin-left: 6.25rem; /* if doing media queries, lower these in lower screen sizes*/
	padding: 5rem;
}

.section-1 button {
	background-color: #3882f6;
	padding: 0.4rem 1.5rem;
	margin: 1rem 1rem;
	font-size: 24px;
	color: #f9faf8;
	text-decoration: none;
	cursor: pointer;
	border-radius: 0.5rem;
	border: none;
}

/* Section 2 */

.section-2 .title {
	font-size: 48px;
	font-weight: 900;
	margin-right: 6.25rem;
	position: relative;
	padding-top: 2rem;
}

.section-2 {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
}

.section-2 .box-collection {
	display: flex;
	margin: 3rem 0;
}

.section-2 .box {
	margin: 1rem;
}

.section-2 .box p {
	font-size: 1.5rem;
	text-align: center;
}

.section-2 .box img {
	transform: scale(0.5, 0.5);
}

/* Section 3 */

/* this is the quote of the website */
.section-3 {
	background: #e5e7eb;
	/* padding: 60px 300px; */
	padding: 5rem 25rem;
	font-weight: 100;
}

.section-3 .quote {
	font-weight: lighter;
	font-style: italic;
}

.section-3 .cite {
	display: flex;
	justify-content: end;
}

/* Section 4 */

.section-4 {
	background-color: white;
	/* border: 1px solid #000; */
}

.section-4 .box {
	background-color: #3882f6;
	padding: 5rem 25rem;
	transform: scale(0.5, 0.5);
	font-size: 2rem;
	border-radius: 1.2rem;

	/* grid stuff */
	display: grid;
	grid-template-columns: 1000px 150px;
	grid-template-rows: auto;
	grid-template-areas: "text-area button";

	/* border: 1px solid #000; */
}

.section-4 .box .text-area {
	grid-area: text-area;
	/* border: 1px solid #000; */
	/* align-items: center; */
}

.section-4 .box h3 {
	color: white;
	margin: 0;
	/* display: inline-block; */
	/* margin-top: 2rem; */
}

.section-4 .box p {
	color: white;
	/* border: 1px solid #000; */
	/* margin-left: -10rem; */
}

.section-4 .box button {
	background-color: transparent;
	padding: 0.8rem 1.9rem;
	/* margin: 1rem 0rem; */
	/* margin-left: auto; */
	margin-right: 0;
	/* margin-bottom: 2rem; */
	margin-top: 0.5rem;
	font-size: 24px;
	color: white;
	text-decoration: none;
	cursor: pointer;
	border: 3px solid #fff;
	border-radius: 0.7rem;
	grid-area: button;
	/* align-self: end; */
	/* display: flex; */
	/* justify-content: flex-start; */
	/* display: none; */
}

/* THIS (BELOW) IS FROM APIPROJECT, NOT FROM HERE */
/* .gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	padding: 2rem 0;
	width: 80%;
	margin: auto;
	row-gap: 5rem;
	column-gap: 3rem;
} */

/* This is the footer of the website. */

.footer {
	background: #1f2937;
	color: white;
	height: 8.9vh;
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-bottom: 8.9vh; */
}
